/* 版心1200px */
/* 头部部分 */
.w {
    width: 1200px;
    margin: 0 auto;
}
body{
    background-color: #f7f7f6;
}
header{
    height: 36px;
    background-color: #8c222c;
}
header h3 {
    float: left;
    height: 36px;
    line-height: 36px;
    font-size: 11px;
    color: #e2c8ca;
    padding-left: 6px;
}
header .user-info{
    float: right;
}
header .user-info div {
    float: left;
    height: 36px;
    line-height: 36px;
    
    position: relative;
}
header .user-info div span {
    display: block;
    padding: 0 15px;
    float: left;
    font-size: 12px;
    color: #e2c8ca;
}
header .user-info div:last-child  span {
    padding: 0 5px;
}
header .user-info div .cart{
    color: #e2c8ca !important;
}
.info {
    cursor: pointer;
    background-color: #7b111b;
    color: #fff !important;
    border-bottom: 1px solid #fff;
}

header .user-info div:nth-child(3) i {
    float: left;
    color: #fff;
}
header .login p {
    position: absolute;
    box-sizing: border-box;
    top: 100%;
    right: 0;
    height: 200px;
    width: 150px;
    padding: 0 15px;
    border: 1px solid pink ;
    display: none;
    z-index: 999;
    background-color: #fff;
    /* background-color: pink; */
}
header .login p a {
    display: block;
    width: 20px;
    width: 120px;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    background-color: #ccc ;
    text-align: center;
}
header .login p b {
    display: block;
}

header .login p i {
    width: 35px;
    font-size: 26px;
    height: 30px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
header  .user-info .app  p {
    position: absolute;
    top:100%;
    left: -65%;
    width: 180px;
    height: 210px;
    padding: 0 15px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #fff;
    display: none;
    z-index: 999;
}
header .user-info .app  p img {
    width: 150px;
    height: 150px;
    z-index: 999;
}
header .user-info .adress p {
    position: absolute;
    top :100%;
    width: 160px;
    height: 110px;
    box-sizing: border-box;
    border: 1px solid pink;
    display: none;
    z-index: 999;
    background-color: #fff;
}
header .user-info .adress p a {
    display: inline-block;
    padding: 0 5px;
}
header .user-info .adress p a:hover{
    background-color: #f40;
    color: #fff;
}
/* 搜索模块 */
.search {
    height: 100px;
    background: #f2f1ea;
}
.search .logo {
    float: left;
    width: 262px;
    line-height: 100px;
}
.search .logo img {
    width: 100%;
    height: 100%;
}
.search .search-box {
    float: left;
    margin-left: 200px;
    
}
.search .search-box span {
    display: inline-block;
    width: 40px;
    height: 28px;
    margin-top: 5px;
    cursor: pointer;
}
.search #searchInput {
    width: 536px;
    height: 42px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid red;
}
.search form{
    position: relative;
    
}
.search .searchInput{
    position: absolute;
    top: 12px;
    left: 12px;
}
.search .searchBtn{
    position: absolute;
    top: 0;
    left: 536px;
    width: 86px;
    height: 42px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    box-sizing: border-box;
    border: 2px solid red;
    border-left: none;
    background-color: #8c222c;
    cursor: pointer;
}
.bgcred{
    color: #f40;
}


